/* =======================================================
   Name: lab8_exe_D.html
   Assignment: Lab 8
   Author(s): Martin Liu, Tahmeed Mahmud
   Submission: March 11, 2024
   Description: React.
   ======================================================= */

   .App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App > :first-child {
    width: 100%;
    align-self: stretch;
  }
  
  .navbar {
    background-color: #333740;
  }
  
  .nav-link {
    color: #ffffff;
    transition: color 0.2s;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #cccccc;
    text-decoration: none;
  }
  
  .nav-full-width {
    width: 100%;
    justify-content: space-between;
  }
  
  /* Tooltip styling */
  .tooltip-inner {
    background-color: #f0f0f0;
    color: #282c34;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.875rem;
  }
  
  /* for hovering list's items */
  .hover-highlight:hover {
    background-color: #f8f9fa !important;
  }
  
